@import url("modern-normalize");

$white: #ffffff;
$black: #000000;
$dark: #323232;

$lightBlue: #ebf0fa;
$darkBlue: #1f4284;

$lightGray: #f1f1f1;
$gray: #727272;

$darkBlueBtn: #244c98;
$lightBluePopup: #f0f4fc;
$lightBlueInput: #d7e2f6;

body {
  font-family: "Manrope", sans-serif;
}

.container {
  padding: 36px 40px;
}

.banner {
  display: flex;
  width: 100%;
  background-color: $lightBlue;
  border-radius: 10px;
  overflow: hidden;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 72px;
    width: 50%;
  }

  &__title {
    font-size: 30px;
    line-height: 48px;
    font-weight: 500;
    color: $darkBlue;
    margin: 0 0 18px;
    max-width: 510px;
  }

  &__text {
    font-size: 17px;
    color: $gray;
    margin: 0 0 36px;
    max-width: 510px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 48px;
    background-color: $darkBlueBtn;
    border-radius: 60px;
    height: 68px;
    padding: 0 12px 0 24px;
    color: $white;
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 500;

    transition: 0.25s;
    cursor: pointer;
    outline: none;
    margin: 0;
    border: none;

    &:hover {
      background-color: $darkBlue;
      color: $white;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      min-width: 44px;
      border-radius: 50%;
      background-color: $white;
      color: $darkBlue;
    }
  }

  &__img {
    width: 50%;
    object-fit: cover;
  }
}

.backdrop {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $black, $alpha: 0.5);
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
}

.popup {
  // display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  padding: 80px 24px 24px;
  z-index: 101;
  max-width: 500px;
  width: 100%;
  background-color: $lightBluePopup;

  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 10px;
    width: 52px;
    height: 52px;
    background-color: $white;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.25s;
    color: $black;

    &:hover {
      background-color: $lightGray;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $dark;
    margin-bottom: 18px;
  }

  &__input {
    background-color: $lightBlueInput;
    color: $black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    width: 100%;
    padding: 24px;
    margin-bottom: 4px;

    &::placeholder {
      color: $darkBlue;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    color: $dark;
    width: 100%;
    font-size: 18px;
    cursor: pointer;

    input[type="checkbox"] {
      display: none;
    }

    svg {
      border-radius: 2px;
      color: $white;
      background-color: $white;
      border: 2px solid $dark;
      margin: 24px 14px 24px 0;
    }

    input[type="checkbox"]:checked ~ svg {
      background-color: $dark;
    }
  }

  &__link {
    display: flex;
    font-size: 20px;
    text-decoration: none;
    color: $darkBlueBtn;
    cursor: pointer;
    margin-bottom: 36px;
    transition: 0.25s;

    &:hover {
      color: $darkBlue;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 12px;
    height: 65px;
    width: 100%;
    margin-bottom: 4px;
    background-color: $darkBlueBtn;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid $darkBlueBtn;
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      background-color: $darkBlue;
      color: $white;
    }

    &--link {
      background-color: $white;
      color: $darkBlueBtn;

      transition: 0.25s;

      &:hover {
        background-color: $lightBlue;
        color: $darkBlue;
        border: 1px solid $darkBlue;
      }
    }
  }
}

@media (max-width: 1440px) {
  .banner {
    &__title {
      font-size: 26px;
    }
  }
}

@media (max-width: 1050px) {
  .banner {
    &__info {
      padding: 36px;
    }

    &__btn {
      gap: 10px;
      padding: 0 12px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }

  .banner {
    flex-direction: column;

    &__info {
      padding: 24px;
      width: 100%;
    }

    &__title {
      max-width: unset;
    }

    &__text {
      font-size: 13px;
      margin: 0 0 18px;
      max-width: unset;
    }

    &__btn {
      height: 56px;
      gap: 19px;

      &-icon {
        width: 36px;
        min-width: unset;
        height: 36px;
      }
    }

    &__img {
      width: 100%;
      height: 70%;
      max-height: 360px;
      object-fit: cover;
    }
  }

  .popup {
    max-width: unset;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 14px 24px;
  }

  .banner {
    flex-direction: column;

    &__title {
      margin: 14px;
    }

    &__text {
      font-size: 15px;
      margin: 0 0 24px;
    }

    &__btn {
      height: 56px;
      gap: 19px;
    }
  }
}
